body {
  background-image: url("./general_background.png");
}

.background {
  background-image: url("./background_notebook_page.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
.background h1 {
  font-family: "Luckiest Guy";
  font-size: 5rem;
  font-weight: normal;
  color: #fd7e14;
  text-align: center;
  line-height: 5.2rem;
  padding-top: 2rem;
  margin: 0;
  animation: shine 0.3s infinite;
}
.background h2 {
  font-family: "Amatic SC";
  font-size: 3rem;
  font-weight: normal;
  color: #feb272;
  text-align: center;
  margin: 0;
}
.background label {
  font-family: "Dosis";
  font-size: 4rem;
  font-weight: bold;
  color: #084298;
  text-align: center;
  margin-top: 2rem;
}
.background select {
  font-family: "Dosis";
  font-size: 1.5rem;
  font-weight: normal;
  color: #084298;
  text-align: justify;
  width: 200px;
  margin-top: 1.5rem;
  border: 2px dashed #fd7e14;
}
.background select:hover {
  cursor: pointer;
}
.background button {
  font-family: "Amatic SC";
  font-size: 4rem;
  font-weight: normal;
  color: #052c65;
  text-align: center;
  margin-top: 2.5rem;
  background-color: #fd7e14;
  width: 27%;
  max-width: 230px;
  border-radius: 20px 20px 20px 20px;
  line-height: 4.1rem;
  cursor: pointer;
}
.background button:hover {
  width: 20%;
  max-width: 190px;
  font-size: 3rem;
  line-height: 3.1rem;
  color: #031633;
}
.background button:disabled {
  background-color: #feb272;
  color: #495057;
  opacity: 100%;
  cursor: default;
}
.background button:disabled:hover {
  width: 27%;
  max-width: 230px;
  font-size: 4rem;
  line-height: 4.1rem;
}

@keyframes shine {
  from {
    color: #fd7e14;
  }
  to {
    color: #ffe5d0;
  }
}
@media only screen and (orientation: portrait) {
  .background {
    background-image: url("./new_background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .background h1 {
    font-size: 4.2rem;
  }
  .background label {
    margin: 2.7rem 1.5rem 0 1.5rem;
    font-size: 3rem;
    line-height: 3.3rem;
  }
  .background select {
    margin-top: 2.4rem;
  }
  .background button {
    margin-top: 3rem;
    font-size: 3rem;
    line-height: 3.3rem;
    max-width: 200px;
  }
  .background button:hover {
    font-size: 2.3rem;
    line-height: 2.7rem;
    max-width: 160px;
  }
  .background button:disabled:hover {
    font-size: 3rem;
    line-height: 3.3rem;
    max-width: 200px;
  }
}
@media only screen and (max-width: 600px) and (orientation: portrait) {
  .background h1 {
    font-size: 3.5rem;
  }
}
@media only screen and (max-width: 480px) and (orientation: portrait) {
  .background {
    background-image: url("./new_background_2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .background h1 {
    font-size: 3rem;
    line-height: 3rem;
  }
  .background h2 {
    margin-top: 0.5rem;
    font-size: 2.2rem;
  }
  .background label {
    font-size: 2.3rem;
    line-height: 2.5rem;
    margin: 2.7rem 2rem 1rem 2rem;
  }
  .background button {
    font-size: 2.3rem;
    line-height: 2.9rem;
    width: 32%;
  }
  .background button:hover {
    font-size: 1.9rem;
    line-height: 2.5rem;
    width: 27%;
  }
  .background button:disabled:hover {
    font-size: 2.3rem;
    line-height: 2.9rem;
    width: 32%;
  }
}
@media only screen and (max-width: 400px) and (orientation: portrait) {
  .background h1 {
    font-size: 2.5rem;
    line-height: 2.8rem;
  }
  .background button {
    font-size: 2rem;
    line-height: 2.6rem;
    width: 34%;
  }
  .background button:hover {
    font-size: 1.5rem;
    line-height: 2rem;
    width: 29%;
  }
  .background button:disabled:hover {
    font-size: 2rem;
    line-height: 2.6rem;
    width: 34%;
  }
}
@media only screen and (max-width: 1250px) and (orientation: landscape) {
  .background {
    background-image: url("./background_2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
@media only screen and (max-width: 1050px) and (orientation: landscape) {
  .background {
    background-image: url("./background_3.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
@media only screen and (max-width: 900px) and (orientation: landscape) {
  .background {
    background-image: url("./background_4.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .background button {
    font-size: 3rem;
    line-height: 3.3rem;
    max-width: 200px;
  }
  .background button:hover {
    font-size: 2.3rem;
    line-height: 2.7rem;
    max-width: 160px;
  }
  .background button:disabled:hover {
    font-size: 3rem;
    line-height: 3.3rem;
    max-width: 200px;
  }
}
@media only screen and (max-width: 768px) and (orientation: landscape) {
  .background h1 {
    font-size: 4.5rem;
    line-height: 4.8rem;
  }
  .background label {
    font-size: 3.3rem;
  }
}
@media only screen and (max-width: 600px) and (orientation: landscape) {
  .background {
    background-image: url("./background_5.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .background h1 {
    font-size: 3.7rem;
    line-height: 4rem;
  }
  .background h2 {
    font-size: 2.5rem;
  }
  .background label {
    font-size: 3rem;
  }
  .background button {
    font-size: 2.3rem;
    line-height: 2.7rem;
  }
  .background button:hover {
    font-size: 1.5rem;
    line-height: 1.8rem;
  }
  .background button:disabled:hover {
    font-size: 2.3rem;
    line-height: 2.7rem;
  }
}

/*# sourceMappingURL=LoginPage.css.map */
